body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
header {
    padding: 10px;
    background: #1e444c;
}
header h1 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.bordered {
    border: 1px solid #444;
    border-radius: 5px;
}
.input__supplies {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: #05282f;
}
.input__supplies form {
    width: 56%;
}
.input__supplies form .input_field {
    width: 70%;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
}
.input__supplies form select {
    width: 20%;
    padding: 10px 23px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
}
.input__supplies .button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__send {
    margin-top: 30px;
    width: 20%;
    padding: 11px;
    font-size: 18px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
}
.group_medicine .select_wrapper {
    width: 80%;
    color: #fff;
    display: block;
    margin-top: 10px;
}
.group_medicine .select_wrapper select {
    width: 93%;
    text-align: center;
    display: block;
    margin-top: 3px;
    color: #666;
    font-size: 18px;
}

/*  CATEGORY  */
.category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
.category .content__card {
    width: 20%;
    padding: 50px;
    background-color: #666;
    cursor: pointer;
}
.content__card .content__card--title {
    text-align: center;
    color: #fff;
}
.category .content__card:nth-child(1) {
    background-color: #2c52bda8;
}
.category .content__card:nth-child(2) {
    background-color: #8e154280;
}
.category .content__card:nth-child(3) {
    background-color: #11670ba6;
}

/* Content table */
#content {
    margin-bottom: 80px;
}
.content__table {
    width: 46%;
    margin: 0 auto;
}
.content__table .content__table--row {
    display: flex;
    box-shadow: 1px 2px 4px rgb(136, 136, 136);
}
.content__table .content__table--row .content__table--index {
    text-align: center;
    border-right: none;
    width: 10%;
}
.content__table .content__table--row .content__table--value {
    width: 90%;
    padding-left: 20px;
    border: 1px solid rgb(196, 196, 196);
    padding: 10px;
    display: flex;
    align-items: center;
}
.content__table.hidden {
    display: none;
}
.content__card.active {
    box-shadow: 10px 10px#e6e6e6;
}
.table-edit-value {
    font-size: 12px;
    color: blue;
    text-decoration: underline;
    margin-left: 5px;
    cursor: pointer;
}
.table-edit-value.hidden {
    display: none;
}
.content__table--delete,
.content__table--index {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(196, 196, 196);
    padding: 10px;
}
.content__table--delete a {
    color: red !important;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.content__table-edit-text {
    width: 87%;
    padding: 8px;
    display: inline-block;
}
